/* 
    Created on : 25-jul-2017, 16:42:53
    Author     : Plagu33
*/

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #292b2c;
  background-color: #f5f8fa; 
}

.btn-facebook,.btn-twitter {
    color: #fff !important;
}

.about {
    list-style: none;
}

.no-radius {
    border-radius: 0px;
}

.nav-custom {
    background-color: #3097D1;
    box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.card-shadow {
    
    background: #fff;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
    
    /*>:hover {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        transition: all 0.3s cubic-bezier(.20,.5,.20,1);
    }*/
    
    .profile {
        width: 50%;
    }

}

.footer {
  
  bottom: 0;
  width: 100%;
  background-color: #102e40;
  text-align: center;

    .container{  
      color: #fff;
      width: 100%;
    }  
 
    .fa-twitter {
        color: #4099FF;
    }

    .fa-facebook {
        color: #3B5998;
    }

    .fa-youtube-play {
        color: #e52d27;
    }

    .fa-rss {
        color: #FF6600;
    }

    .fa-vine {
        color: #00a478;
    }

    .fa-flickr {
        color: #ff0084;
    }

    .fa-twitch {
        color: #6441A5;
    }

    .fa-linkedin {
        color: #007bb6;
    }

    .fa {
        
        opacity: 0.7;
        transition: 1s;
        -webkit-transition: 1s;
        
        >:hover{
            opacity: 1;
            transition: 1s;
            -webkit-transition: 1s;
        } 
    }
    
}

