/* 
    Created on : 25-jul-2017, 16:42:53
    Author     : Plagu33
*/

$color-blue : #003c8f;
$colr-blue-light : #1565c0;
$color-white : #fff;
$color-fondo : #f5f8fa;

html {
    font-size: 16px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #292b2c;
  background-color: #f5f8fa; 
  position: relative;
}

.green {
    color: green;
}

.btn-facebook,.btn-twitter {
    color: #fff !important;
}

.about {
    list-style: none;
}

.nav-custom {
    background-color: $color-blue;
    box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.title-post {
    background-color: $colr-blue-light;
    color: $color-white;
}

.card-shadow {
    
    background: $color-white;
    border-radius: 2px;
    position: relative;
    width: 100%;
    
    /*&:hover {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        transition: all 0.3s cubic-bezier(.20,.5,.20,1);
    }*/
    
}

.card-1 {
    @extend .card-shadow;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
    @extend .card-shadow;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}    


.slick-mini {
    
    & .slick-prev {
        left: 5px !important;
        z-index: 9 !important;
    }
    
    & .slick-next {
        right: 5px;
        z-index: 9;
    }

    & .slick-dots {
        bottom: 8px;
    }    
    
}


.profile {
    width: 50%;
}

.footer {
  
    position: relative;
    background-color: #102e40;
    text-align: center;
    width: 100%;

    .container{  
      color: #fff;
      width: 100%;
    }  
 
    .fa-twitter {
        color: #4099FF;
    }

    .fa-facebook {
        color: #3B5998;
    }

    .fa-linkedin {
        color: #007bb6;
    }

    .fa {
        
        opacity: 0.7;
        transition: 1s;
        -webkit-transition: 1s;
        
        &:hover{
            opacity: 1;
            transition: 1s;
            -webkit-transition: 1s;
        } 
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    html {
        font-size: 15px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

// Extra large devices (large desktops, 1440px and up)
@media (min-width: 1440px) {
    html {
        font-size: 17px;
    }
}

// Extra large devices (large desktops, 2560px and up)
@media (min-width: 2560px) {
    html {
        font-size: 28px;
    }
}